{% extends 'main.twig' %}

{% block head %}
    <title>卡片 1</title>
    <style>
        h1 {
            margin-bottom: 25px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e4e4e4;
        }

        main {
            width: 70%;
            margin: 40px auto;
        }

        .card-list .card {
            margin-bottom: 16px;
        }

        .card-list .card:hover {
            cursor: pointer;
            background: #f0f1f4;
        }

        .card-add-item {
            padding: 10px;
            font-size: 18px;
            margin-top: 100px;
            text-align: center;
            border: 1px solid transparent;
        }

        .card-add-item:hover {
            cursor: pointer;
            border: 1px solid #e7e9ed;
        }

        .card-add-item i {
            margin-right: 5px;
        }

        .card-add-item i, .card-add-item a {
            color: gray;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block content %}
    <main>
        <h1>{{ card.title }}</h1>
        <div class="card-list">
            {% for v in card.items %}
                <div class="card" data-id="{{ v.id }}" data-content="{{ v.content }}">
                    <div class="card-body">{{ v.content }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="card-add-item">
            <i class="icon icon-plus"></i> <a href="#add-item">为卡片添加新项目</a>
        </div>
    </main>

    <div class="modal" id="add-item">
        <a href="#close" class="modal-overlay"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" class="btn btn-clear float-right"></a>
                <div class="modal-title h5">新项目</div>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label" for="add-content">内容</label>
                        <textarea class="form-input" id="add-content" name="content" rows="5"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">添加</button>
                    <a class="btn btn-link" href="#close">关闭</a>
                </div>
            </form>
        </div>
    </div>

    <div class="modal" id="edit-item">
        <a href="#close" class="modal-overlay"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#close" class="btn btn-clear float-right"></a>
                <div class="modal-title h5">编辑项目</div>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label" for="edit-content">内容</label>
                        <textarea class="form-input" id="edit-content" name="content" rows="5"></textarea>
                    </div>
                    <input type="hidden" id="edit-id" name="id">
                    <input type="hidden" name="_METHOD" value="PUT">
                </div>
                <div class="modal-footer">
                    <div class="columns col-gapless">
                        <div class="column col text-left">
                            <button class="btn btn-error" type="button" id="delete-item">删除此项目</button>
                        </div>
                        <div class="column col col-ml-auto">
                            <button class="btn btn-primary">保存</button>
                            <a class="btn btn-link" href="#close">关闭</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block foot %}
    <script>
        function editItem() {
            $('#edit-id').val($(this).data('id'));
            $('#edit-content').val($(this).data('content'));
            location.hash = '#edit-item';
        }

        $('.card-list .card').click(editItem);

        $('#add-item form').submit(function () {
            $.post('{{ path_for('items.store', { 'id': card.id }) }}', $(this).serialize(), function (res) {
                location.hash = '';
                if (res.code === 1) {
                    $(
                        '<div class="card" data-id="' + res.id + '" data-content="">' +
                        '<div class="card-body"></div>' +
                        '</div>'
                    ).appendTo($('.card-list'));
                    $('.card[data-id="' + res.id + '"]').click(editItem);
                    $('.card[data-id="' + res.id + '"]').data('content', $('#add-content').val());
                    $('.card[data-id="' + res.id + '"] .card-body').text($('#add-content').val());

                    $.notify('添加成功');
                } else {
                    $.notify('添加失败', 'error');
                }
            });

            return false;
        });

        $('#edit-item form').submit(function () {
            $.post('{{ path_for('items.update', { 'id': card.id }) }}', $(this).serialize(), function (res) {
                location.hash = '';
                if (res.code === 1) {
                    $('.card[data-id="' + $('#edit-id').val() + '"]').data('content', $('#edit-content').val());
                    $('.card[data-id="' + $('#edit-id').val() + '"] .card-body').text($('#edit-content').val());
                    $.notify('编辑成功');
                } else {
                    $.notify('编辑失败', 'error');
                }
            });

            return false;
        });

        $('#delete-item').click(function () {
            $.post('{{ path_for('items.destroy', { 'id': card.id }) }}', {
                'id': $('#edit-id').val(),
                '_METHOD': 'delete'
            }, function (res) {
                location.hash = '';
                if (res.code === 1) {
                    $('.card[data-id="' + $('#edit-id').val() + '"]').remove();
                    $.notify('删除成功');
                } else {
                    $.notify('删除失败', 'error');
                }
            });
        });
    </script>
{% endblock %}
